:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Righteous", cursive;
}

.row {
  width: 70%;
  align-items: center;
  justify-content: center;
  mat-form-field {
    display: block;
  }

  h1

  .col {
    display: flex;
    margin-top: 10px;
  }
  .titleText {
    font-size: 32px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
  }
  .titleHint {
    text-align: center;
    display: block;
    margin: auto;
  }
  button {
    display: block;
    margin: auto;
    width: 120px;
    margin-top: 15px;
    margin-bottom: 20px;
  }
}
